USE [master]
GO
/****** Object:  Database [权限实验]    Script Date: 2025/12/23 16:49:35 ******/
CREATE DATABASE [权限实验]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'权限实验', FILENAME = N'F:\tools\sql\sqlserver\MSSQL16.MSSQLSERVER\MSSQL\DATA\权限实验.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'权限实验_log', FILENAME = N'F:\tools\sql\sqlserver\MSSQL16.MSSQLSERVER\MSSQL\DATA\权限实验_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [权限实验].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [权限实验]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category](
	[category_id] [int] NOT NULL,
	[Cat_category_id] [int] NULL,
	[category_name] [char](50) NOT NULL,
	[parent_id] [int] NULL,
	[sort_order] [int] NOT NULL,
	[status] [smallint] NOT NULL,
 CONSTRAINT [PK_CATEGORY] PRIMARY KEY NONCLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[vw_CategoryHierarchy]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_CategoryHierarchy] AS
WITH CategoryCTE AS (
    SELECT 
        category_id,
        category_name,
        CAST(category_name AS VARCHAR(500)) AS category_path,
        1 AS level,
        CAST(category_id AS VARCHAR(500)) AS path_ids
    FROM [dbo].[Category]
    WHERE parent_id IS NULL
    
    UNION ALL
    
    SELECT 
        c.category_id,
        c.category_name,
        CAST(cte.category_path + ' > ' + c.category_name AS VARCHAR(500)),
        cte.level + 1,
        CAST(cte.path_ids + ',' + CAST(c.category_id AS VARCHAR(10)) AS VARCHAR(500))
    FROM [dbo].[Category] c
    INNER JOIN CategoryCTE cte ON c.parent_id = cte.category_id
)
SELECT 
    category_id,
    category_name,
    category_path,
    level,
    path_ids
FROM CategoryCTE;
-- ORDER BY 已经移除
GO
/****** Object:  Table [dbo].[User]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[user_id] [int] NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[register_time] [datetime] NOT NULL,
	[user_type] [smallint] NOT NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[vw_UserInfo]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_UserInfo] AS
SELECT 
    user_id,
    username,
    email,
    phone,
    register_time,
    CASE user_type
        WHEN 0 THEN '普通用户'
        WHEN 1 THEN 'VIP用户'
        WHEN 2 THEN '管理员'
    END AS user_type_name
FROM [dbo].[User];
GO
/****** Object:  Table [dbo].[Address]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Address](
	[address_id] [int] NOT NULL,
	[user_id] [int] NULL,
	[receiver_name] [varchar](50) NOT NULL,
	[receiver_phone] [varchar](20) NOT NULL,
	[detail_address] [varchar](200) NOT NULL,
	[postal_code] [varchar](10) NULL,
	[is_default] [int] NOT NULL,
 CONSTRAINT [PK_ADDRESS] PRIMARY KEY NONCLUSTERED 
(
	[address_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[vw_UserFullProfile]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_UserFullProfile] AS
SELECT 
    u.user_id,
    u.username,
    u.email,
    u.phone,
    u.register_time,
    a.receiver_name,
    a.receiver_phone,
    a.detail_address,
    a.postal_code
FROM [dbo].[User] u
LEFT JOIN [dbo].[Address] a ON u.user_id = a.user_id AND a.is_default = 1;
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[product_id] [int] NOT NULL,
	[category_id] [int] NULL,
	[product_name] [varchar](100) NOT NULL,
	[description] [varchar](100) NULL,
	[price] [decimal](10, 2) NOT NULL,
	[stock_quantity] [int] NOT NULL,
	[image] [varchar](225) NULL,
	[product_status] [smallint] NOT NULL,
 CONSTRAINT [PK_PRODUCT] PRIMARY KEY NONCLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[vw_ProductDetails]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ProductDetails] AS
SELECT 
    p.product_id,
    p.product_name,
    p.description,
    p.price,
    p.stock_quantity,
    c.category_name,
    pc.category_name AS parent_category,
    CASE p.product_status
        WHEN 1 THEN '上架'
        WHEN 0 THEN '下架'
        ELSE '未知'
    END AS status_text,
    p.image
FROM [dbo].[Product] p
LEFT JOIN [dbo].[Category] c ON p.category_id = c.category_id
LEFT JOIN [dbo].[Category] pc ON c.parent_id = pc.category_id;
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Promotion](
	[promotion_id] [int] NOT NULL,
	[promotion_name] [varchar](100) NOT NULL,
	[start_time] [datetime] NOT NULL,
	[end_time] [datetime] NOT NULL,
	[discount_tyoe] [smallint] NOT NULL,
	[discount_value] [decimal](10, 2) NOT NULL,
	[promotion_status] [smallint] NOT NULL,
	[promotion_description] [varchar](500) NULL,
 CONSTRAINT [PK_PROMOTION] PRIMARY KEY NONCLUSTERED 
(
	[promotion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product_Promotion]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Promotion](
	[product_id] [int] NOT NULL,
	[promotion_id] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCT_PROMOTION] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC,
	[promotion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_PromotionProducts]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_PromotionProducts] AS
SELECT 
    p.product_id,
    p.product_name,
    p.price AS original_price,
    pr.promotion_name,
    pr.start_time,
    pr.end_time,
    CASE pr.discount_tyoe
        WHEN 1 THEN p.price * pr.discount_value  -- 折扣率
        WHEN 2 THEN p.price - pr.discount_value  -- 减金额
        ELSE p.price
    END AS final_price,
    pr.promotion_description
FROM [dbo].[Product] p
INNER JOIN [dbo].[Product_Promotion] pp ON p.product_id = pp.product_id
INNER JOIN [dbo].[Promotion] pr ON pp.promotion_id = pr.promotion_id
WHERE pr.promotion_status = 1
  AND GETDATE() BETWEEN pr.start_time AND pr.end_time;
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[cart_id] [int] NOT NULL,
	[product_id] [int] NULL,
	[user_id] [int] NULL,
	[cart_quantity] [int] NOT NULL,
	[add_time] [datetime] NOT NULL,
 CONSTRAINT [PK_CART] PRIMARY KEY NONCLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_CartDetails]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_CartDetails] AS
SELECT 
    c.cart_id,
    u.username,
    p.product_name,
    p.price,
    c.cart_quantity,
    (p.price * c.cart_quantity) AS total_price,
    c.add_time,
    p.stock_quantity,
    CASE 
        WHEN p.stock_quantity >= c.cart_quantity THEN '库存充足'
        ELSE '库存不足'
    END AS stock_status
FROM [dbo].[Cart] c
INNER JOIN [dbo].[User] u ON c.user_id = u.user_id
INNER JOIN [dbo].[Product] p ON c.product_id = p.product_id;
GO
/****** Object:  Table [dbo].[Order]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[order_id] [int] NOT NULL,
	[user_id] [int] NULL,
	[address_id] [int] NULL,
	[total_amount] [decimal](10, 2) NOT NULL,
	[create_time] [datetime] NOT NULL,
	[pay_time] [datetime] NULL,
	[ship_time] [datetime] NULL,
	[order_status] [smallint] NOT NULL,
 CONSTRAINT [PK_ORDER] PRIMARY KEY NONCLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_OrderSummary]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_OrderSummary] AS
SELECT 
    o.order_id,
    u.username,
    o.total_amount,
    o.create_time,
    o.pay_time,
    o.ship_time,
    CASE o.order_status
        WHEN 0 THEN '待支付'
        WHEN 1 THEN '已支付'
        WHEN 2 THEN '已发货'
        WHEN 3 THEN '已完成'
        ELSE '未知状态'
    END AS order_status_name,
    a.detail_address,
    a.receiver_name,
    a.receiver_phone
FROM [dbo].[Order] o
INNER JOIN [dbo].[User] u ON o.user_id = u.user_id
LEFT JOIN [dbo].[Address] a ON o.address_id = a.address_id;
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[item_id] [int] NOT NULL,
	[order_id] [int] NULL,
	[product_id] [int] NULL,
	[order_quantity] [int] NOT NULL,
	[unit_price] [decimal](10, 2) NOT NULL,
	[subtotal] [decimal](10, 2) NULL,
 CONSTRAINT [PK_ORDERITEM] PRIMARY KEY NONCLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_OrderItemsDetails]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_OrderItemsDetails] AS
SELECT 
    o.order_id,
    u.username,
    oi.item_id,
    p.product_name,
    oi.order_quantity,
    oi.unit_price,
    oi.subtotal,
    oi.order_quantity * oi.unit_price AS calculated_total
FROM [dbo].[OrderItem] oi
INNER JOIN [dbo].[Order] o ON oi.order_id = o.order_id
INNER JOIN [dbo].[User] u ON o.user_id = u.user_id
INNER JOIN [dbo].[Product] p ON oi.product_id = p.product_id;
GO
/****** Object:  View [dbo].[vw_UserOrderStatistics]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_UserOrderStatistics] AS
SELECT 
    u.user_id,
    u.username,
    u.email,
    COUNT(o.order_id) AS total_orders,
    SUM(CASE WHEN o.order_status = 3 THEN 1 ELSE 0 END) AS completed_orders,
    SUM(o.total_amount) AS total_spent,
    MAX(o.create_time) AS last_order_date,
    AVG(o.total_amount) AS avg_order_amount
FROM [dbo].[User] u
LEFT JOIN [dbo].[Order] o ON u.user_id = o.user_id
GROUP BY u.user_id, u.username, u.email;
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Payment](
	[payment_id] [int] NOT NULL,
	[order_id] [int] NULL,
	[payment_method] [varchar](50) NOT NULL,
	[payment_amount] [decimal](10, 2) NOT NULL,
	[payment_status] [smallint] NOT NULL,
	[payment_time] [datetime] NULL,
	[transaction_id] [varchar](100) NULL,
 CONSTRAINT [PK_PAYMENT] PRIMARY KEY NONCLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[vw_PaymentRecords]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_PaymentRecords] AS
SELECT 
    p.payment_id,
    o.order_id,
    u.username,
    p.payment_method,
    p.payment_amount,
    CASE p.payment_status
        WHEN 0 THEN '未支付'
        WHEN 1 THEN '已支付'
        ELSE '未知'
    END AS payment_status_name,
    p.payment_time,
    p.transaction_id,
    o.total_amount AS order_total
FROM [dbo].[Payment] p
INNER JOIN [dbo].[Order] o ON p.order_id = o.order_id
INNER JOIN [dbo].[User] u ON o.user_id = u.user_id;
GO
/****** Object:  View [dbo].[vw_InventoryStatus]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_InventoryStatus] AS
SELECT 
    p.product_id,
    p.product_name,
    c.category_name,
    p.stock_quantity,
    CASE 
        WHEN p.stock_quantity = 0 THEN '缺货'
        WHEN p.stock_quantity <= 10 THEN '低库存'
        WHEN p.stock_quantity <= 50 THEN '中等库存'
        ELSE '充足'
    END AS stock_level,
    p.price,
    (p.price * p.stock_quantity) AS inventory_value
FROM [dbo].[Product] p
LEFT JOIN [dbo].[Category] c ON p.category_id = c.category_id
WHERE p.product_status = 1;
GO
/****** Object:  View [dbo].[vw_DailySales]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_DailySales] AS
SELECT 
    CONVERT(DATE, o.create_time) AS sale_date,
    COUNT(DISTINCT o.order_id) AS order_count,
    COUNT(oi.item_id) AS item_count,
    SUM(o.total_amount) AS total_sales,
    SUM(oi.order_quantity) AS total_quantity,
    AVG(o.total_amount) AS avg_order_value
FROM [dbo].[Order] o
INNER JOIN [dbo].[OrderItem] oi ON o.order_id = oi.order_id
WHERE o.order_status IN (1,2,3)  -- 已支付、已发货、已完成
GROUP BY CONVERT(DATE, o.create_time);
GO
/****** Object:  View [dbo].[vw_TopSellingProducts]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_TopSellingProducts] AS
SELECT 
    p.product_id,
    p.product_name,
    c.category_name,
    SUM(oi.order_quantity) AS total_sold_quantity,
    SUM(oi.subtotal) AS total_sales_amount,
    COUNT(DISTINCT o.order_id) AS order_count,
    RANK() OVER (ORDER BY SUM(oi.order_quantity) DESC) AS sales_rank
FROM [dbo].[Product] p
INNER JOIN [dbo].[OrderItem] oi ON p.product_id = oi.product_id
INNER JOIN [dbo].[Order] o ON oi.order_id = o.order_id
INNER JOIN [dbo].[Category] c ON p.category_id = c.category_id
WHERE o.order_status IN (1,2,3)
GROUP BY p.product_id, p.product_name, c.category_name;
GO
/****** Object:  Index [Relationship_4_FK]    Script Date: 2025/12/23 16:49:35 ******/
CREATE NONCLUSTERED INDEX [Relationship_4_FK] ON [dbo].[Cart]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Relationship_5_FK]    Script Date: 2025/12/23 16:49:35 ******/
CREATE NONCLUSTERED INDEX [Relationship_5_FK] ON [dbo].[Cart]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ParentChild_FK]    Script Date: 2025/12/23 16:49:35 ******/
CREATE NONCLUSTERED INDEX [ParentChild_FK] ON [dbo].[Category]
(
	[Cat_category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_category_name]    Script Date: 2025/12/23 16:49:35 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_category_name] ON [dbo].[Category]
(
	[category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Relationship_6_FK]    Script Date: 2025/12/23 16:49:35 ******/
CREATE NONCLUSTERED INDEX [Relationship_6_FK] ON [dbo].[Order]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Relationship_7_FK]    Script Date: 2025/12/23 16:49:35 ******/
CREATE NONCLUSTERED INDEX [Relationship_7_FK] ON [dbo].[Order]
(
	[address_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Order_OrderItem_FK]    Script Date: 2025/12/23 16:49:35 ******/
CREATE NONCLUSTERED INDEX [Order_OrderItem_FK] ON [dbo].[OrderItem]
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Product_OrderItem_FK]    Script Date: 2025/12/23 16:49:35 ******/
CREATE NONCLUSTERED INDEX [Product_OrderItem_FK] ON [dbo].[OrderItem]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Order_Payment_FK]    Script Date: 2025/12/23 16:49:35 ******/
CREATE NONCLUSTERED INDEX [Order_Payment_FK] ON [dbo].[Payment]
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [CategoryProduct_FK]    Script Date: 2025/12/23 16:49:35 ******/
CREATE NONCLUSTERED INDEX [CategoryProduct_FK] ON [dbo].[Product]
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_product_status]    Script Date: 2025/12/23 16:49:35 ******/
CREATE NONCLUSTERED INDEX [IDX_product_status] ON [dbo].[Product]
(
	[product_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Product_Promotion_FK]    Script Date: 2025/12/23 16:49:35 ******/
CREATE NONCLUSTERED INDEX [Product_Promotion_FK] ON [dbo].[Product_Promotion]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Product_Promotion2_FK]    Script Date: 2025/12/23 16:49:35 ******/
CREATE NONCLUSTERED INDEX [Product_Promotion2_FK] ON [dbo].[Product_Promotion]
(
	[promotion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_user_email]    Script Date: 2025/12/23 16:49:35 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_user_email] ON [dbo].[User]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_user_username]    Script Date: 2025/12/23 16:49:35 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_user_username] ON [dbo].[User]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT ((1)) FOR [cart_quantity]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT (getdate()) FOR [add_time]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0)) FOR [total_amount]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0)) FOR [order_status]
GO
ALTER TABLE [dbo].[OrderItem] ADD  DEFAULT ((1)) FOR [order_quantity]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ((0)) FOR [payment_amount]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ((0)) FOR [payment_status]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [payment_time]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [price]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [stock_quantity]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((1)) FOR [product_status]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [register_time]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [user_type]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_ADDRESS_USERADDRE_USER] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_ADDRESS_USERADDRE_USER]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_CART_PRODUCT_C_PRODUCT] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_CART_PRODUCT_C_PRODUCT]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_CART_USER_CART_USER] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_CART_USER_CART_USER]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_CATEGORY_PARENTCHI_CATEGORY] FOREIGN KEY([Cat_category_id])
REFERENCES [dbo].[Category] ([category_id])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_CATEGORY_PARENTCHI_CATEGORY]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_ADDRESS_O_ADDRESS] FOREIGN KEY([address_id])
REFERENCES [dbo].[Address] ([address_id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_ORDER_ADDRESS_O_ADDRESS]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_USER_ORDE_USER] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_ORDER_USER_ORDE_USER]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_ORDERITE_ORDER_ORD_ORDER] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_ORDERITE_ORDER_ORD_ORDER]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_ORDERITE_PRODUCT_O_PRODUCT] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_ORDERITE_PRODUCT_O_PRODUCT]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_PAYMENT_ORDER_PAY_ORDER] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_PAYMENT_ORDER_PAY_ORDER]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_CATEGORYP_CATEGORY] FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([category_id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_PRODUCT_CATEGORYP_CATEGORY]
GO
ALTER TABLE [dbo].[Product_Promotion]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT__PRODUCT_P_PRODUCT] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Product_Promotion] CHECK CONSTRAINT [FK_PRODUCT__PRODUCT_P_PRODUCT]
GO
ALTER TABLE [dbo].[Product_Promotion]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT__PRODUCT_P_PROMOTIO] FOREIGN KEY([promotion_id])
REFERENCES [dbo].[Promotion] ([promotion_id])
GO
ALTER TABLE [dbo].[Product_Promotion] CHECK CONSTRAINT [FK_PRODUCT__PRODUCT_P_PROMOTIO]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [CKC_CART_QUANTITY_CART] CHECK  (([cart_quantity]>(0)))
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [CKC_CART_QUANTITY_CART]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [CKC_CATEGORY_NAME_CATEGORY] CHECK  ((len([category_name])>(0)))
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [CKC_CATEGORY_NAME_CATEGORY]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [CKC_SORT_ORDER_CATEGORY] CHECK  (([sort_order]>=(0)))
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [CKC_SORT_ORDER_CATEGORY]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [CKC_ORDER_STATUS_ORDER] CHECK  (([order_status]=(3) OR [order_status]=(2) OR [order_status]=(1) OR [order_status]=(0)))
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [CKC_ORDER_STATUS_ORDER]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [CKC_TOTAL_AMOUNT_ORDER] CHECK  (([total_amount]>=(0)))
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [CKC_TOTAL_AMOUNT_ORDER]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [CKC_ORDER_QUANTITY_ORDERITE] CHECK  (([order_quantity]>(0)))
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [CKC_ORDER_QUANTITY_ORDERITE]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [CKC_SUBTOTAL_ORDERITE] CHECK  (([subtotal] IS NULL OR [subtotal]>=(0)))
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [CKC_SUBTOTAL_ORDERITE]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [CKC_UNIT_PRICE_ORDERITE] CHECK  (([unit_price]>=(0)))
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [CKC_UNIT_PRICE_ORDERITE]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [CKC_PAYMENT_AMOUNT_PAYMENT] CHECK  (([payment_amount]>=(0)))
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [CKC_PAYMENT_AMOUNT_PAYMENT]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [CKC_PAYMENT_STATUS_PAYMENT] CHECK  (([payment_status]=(1) OR [payment_status]=(0)))
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [CKC_PAYMENT_STATUS_PAYMENT]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CKC_PRICE_PRODUCT] CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CKC_PRICE_PRODUCT]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CKC_PRODUCT_STATUS_PRODUCT] CHECK  (([product_status]=(1) OR [product_status]=(0)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CKC_PRODUCT_STATUS_PRODUCT]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CKC_STOCK_QUANTITY_PRODUCT] CHECK  (([stock_quantity]>=(0)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CKC_STOCK_QUANTITY_PRODUCT]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [CKC_EMAIL_USER] CHECK  (([email] like '%_@_%._%'))
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [CKC_EMAIL_USER]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [CKC_PASSWORD_USER] CHECK  ((len([password])>=(6)))
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [CKC_PASSWORD_USER]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [CKC_PHONE_USER] CHECK  ((len([phone])=(11) AND NOT [phone] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [CKC_PHONE_USER]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [CKC_USER_TYPE_USER] CHECK  (([user_type]=(2) OR [user_type]=(1) OR [user_type]=(0)))
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [CKC_USER_TYPE_USER]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [CKC_USERNAME_USER] CHECK  ((len([username])>=(3) AND len([username])<=(50)))
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [CKC_USERNAME_USER]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddProduct]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AddProduct]
    @category_id INT,
    @product_name VARCHAR(100),
    @description VARCHAR(100) = NULL,
    @price DECIMAL(10,2),
    @stock_quantity INT = 0,
    @image VARCHAR(225) = NULL,
    @new_product_id INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- 验证分类是否存在
    IF NOT EXISTS(SELECT 1 FROM [dbo].[Category] WHERE category_id = @category_id)
    BEGIN
        RAISERROR('商品分类不存在！', 16, 1);
        RETURN;
    END
    
    -- 生成商品ID
    DECLARE @next_id INT;
    SELECT @next_id = ISNULL(MAX(product_id), 0) + 1 FROM [dbo].[Product];
    
    INSERT INTO [dbo].[Product]
        (product_id, category_id, product_name, description, price, 
         stock_quantity, image, product_status)
    VALUES
        (@next_id, @category_id, @product_name, @description, @price,
         @stock_quantity, @image, 1);
    
    SET @new_product_id = @next_id;
    PRINT '商品添加成功！';
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddToCart]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AddToCart]
    @user_id INT,
    @product_id INT,
    @quantity INT = 1
AS
BEGIN
    SET NOCOUNT ON;
    
    -- 检查用户是否存在
    IF NOT EXISTS(SELECT 1 FROM [dbo].[User] WHERE user_id = @user_id)
    BEGIN
        RAISERROR('用户不存在！', 16, 1);
        RETURN;
    END
    
    -- 检查商品是否存在且有库存
    IF NOT EXISTS(SELECT 1 FROM [dbo].[Product] WHERE product_id = @product_id AND product_status = 1)
    BEGIN
        RAISERROR('商品不存在或已下架！', 16, 1);
        RETURN;
    END
    
    DECLARE @available_stock INT;
    SELECT @available_stock = stock_quantity FROM [dbo].[Product] WHERE product_id = @product_id;
    
    IF @available_stock < @quantity
    BEGIN
        RAISERROR('库存不足！当前库存：%d', 16, 1, @available_stock);
        RETURN;
    END
    
    -- 检查购物车是否已有该商品
    IF EXISTS(SELECT 1 FROM [dbo].[Cart] WHERE user_id = @user_id AND product_id = @product_id)
    BEGIN
        -- 更新数量
        UPDATE [dbo].[Cart]
        SET cart_quantity = cart_quantity + @quantity,
            add_time = GETDATE()
        WHERE user_id = @user_id AND product_id = @product_id;
        
        PRINT '购物车商品数量已更新！';
    END
    ELSE
    BEGIN
        -- 新增记录
        DECLARE @new_cart_id INT;
        SELECT @new_cart_id = ISNULL(MAX(cart_id), 0) + 1 FROM [dbo].[Cart];
        
        INSERT INTO [dbo].[Cart]
            (cart_id, user_id, product_id, cart_quantity, add_time)
        VALUES
            (@new_cart_id, @user_id, @product_id, @quantity, GETDATE());
        
        PRINT '商品已添加到购物车！';
    END
    
    -- 返回购物车信息
    EXEC sp_GetCart @user_id = @user_id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BackupUserData]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_BackupUserData]
    @backup_type VARCHAR(20) = 'USER'  -- USER, ORDER, PRODUCT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @backup_table VARCHAR(100);
    DECLARE @sql NVARCHAR(1000);
    
    -- 创建备份表名（添加时间戳）
    SET @backup_table = 'Backup_' + @backup_type + '_' + 
                        REPLACE(CONVERT(VARCHAR, GETDATE(), 112), '-', '') +
                        REPLACE(CONVERT(VARCHAR, GETDATE(), 108), ':', '');
    
    IF @backup_type = 'USER'
    BEGIN
        SET @sql = 'SELECT * INTO ' + @backup_table + ' FROM [dbo].[User]';
    END
    ELSE IF @backup_type = 'ORDER'
    BEGIN
        SET @sql = 'SELECT * INTO ' + @backup_table + ' FROM [dbo].[Order]';
    END
    ELSE IF @backup_type = 'PRODUCT'
    BEGIN
        SET @sql = 'SELECT * INTO ' + @backup_table + ' FROM [dbo].[Product]';
    END
    ELSE
    BEGIN
        RAISERROR('不支持的备份类型！', 16, 1);
        RETURN;
    END
    
    EXEC sp_executesql @sql;
    
    PRINT '数据备份完成！备份表名：' + @backup_table;
    
    -- 返回备份信息
    EXEC('SELECT ''' + @backup_table + ''' AS BackupTable, COUNT(*) AS RecordCount FROM ' + @backup_table);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CleanupOldData]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_CleanupOldData]
    @days_to_keep INT = 365
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @cutoff_date DATETIME = DATEADD(DAY, -@days_to_keep, GETDATE());
    DECLARE @deleted_count INT = 0;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- 清理已完成超过指定天数的订单（实际项目可能需要更复杂的逻辑）
        PRINT '开始清理过期数据...';
        
        -- 这里只是示例，实际清理需要谨慎
        -- DELETE FROM [dbo].[Order] WHERE order_status = 3 AND create_time < @cutoff_date;
        
        PRINT '数据清理完成（示例，未实际执行删除）';
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMsg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR('数据清理失败: %s', 16, 1, @ErrorMsg);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ClearCart]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ClearCart]
    @user_id INT
AS
BEGIN
    SET NOCOUNT ON;
    
    IF NOT EXISTS(SELECT 1 FROM [dbo].[Cart] WHERE user_id = @user_id)
    BEGIN
        PRINT '购物车已经是空的！';
        RETURN;
    END
    
    DELETE FROM [dbo].[Cart] WHERE user_id = @user_id;
    
    PRINT '购物车已清空！';
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateOrder]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateOrder]
    @user_id INT,
    @address_id INT,
    @order_id INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- 验证用户和地址
        IF NOT EXISTS(SELECT 1 FROM [dbo].[User] WHERE user_id = @user_id)
        BEGIN
            RAISERROR('用户不存在！', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        IF NOT EXISTS(SELECT 1 FROM [dbo].[Address] WHERE address_id = @address_id AND user_id = @user_id)
        BEGIN
            RAISERROR('地址不存在或不属于该用户！', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        -- 获取购物车商品
        IF NOT EXISTS(SELECT 1 FROM [dbo].[Cart] WHERE user_id = @user_id)
        BEGIN
            RAISERROR('购物车为空，无法创建订单！', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        -- 生成订单ID
        DECLARE @new_order_id INT;
        SELECT @new_order_id = ISNULL(MAX(order_id), 0) + 1 FROM [dbo].[Order];
        
        -- 创建订单
        INSERT INTO [dbo].[Order]
            (order_id, user_id, address_id, total_amount, create_time, order_status)
        VALUES
            (@new_order_id, @user_id, @address_id, 0, GETDATE(), 0);
        
        -- 从购物车转移商品到订单项
        INSERT INTO [dbo].[OrderItem]
            (item_id, order_id, product_id, order_quantity, unit_price, subtotal)
        SELECT 
            ROW_NUMBER() OVER (ORDER BY c.cart_id) + 
                (SELECT ISNULL(MAX(item_id), 0) FROM [dbo].[OrderItem]),
            @new_order_id,
            c.product_id,
            c.cart_quantity,
            p.price,
            p.price * c.cart_quantity
        FROM [dbo].[Cart] c
        INNER JOIN [dbo].[Product] p ON c.product_id = p.product_id
        WHERE c.user_id = @user_id;
        
        -- 计算订单总金额
        DECLARE @total_amount DECIMAL(10,2);
        SELECT @total_amount = SUM(subtotal) FROM [dbo].[OrderItem] WHERE order_id = @new_order_id;
        
        UPDATE [dbo].[Order]
        SET total_amount = @total_amount
        WHERE order_id = @new_order_id;
        
        -- 清空购物车
        DELETE FROM [dbo].[Cart] WHERE user_id = @user_id;
        
        SET @order_id = @new_order_id;
        
        COMMIT TRANSACTION;
        
        PRINT '订单创建成功！订单号：' + CAST(@new_order_id AS VARCHAR);
        
        -- 返回订单详情
        SELECT * FROM [dbo].[Order] WHERE order_id = @new_order_id;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR('创建订单失败：%s', 16, 1, @ErrorMessage);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCart]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetCart]
    @user_id INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        c.cart_id,
        p.product_id,
        p.product_name,
        p.price,
        c.cart_quantity,
        (p.price * c.cart_quantity) AS subtotal,
        p.image,
        p.stock_quantity,
        c.add_time
    FROM [dbo].[Cart] c
    INNER JOIN [dbo].[Product] p ON c.product_id = p.product_id
    WHERE c.user_id = @user_id
    ORDER BY c.add_time DESC;
    
    -- 计算购物车总金额
    SELECT 
        SUM(p.price * c.cart_quantity) AS cart_total,
        COUNT(c.cart_id) AS item_count
    FROM [dbo].[Cart] c
    INNER JOIN [dbo].[Product] p ON c.product_id = p.product_id
    WHERE c.user_id = @user_id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserOrders]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetUserOrders]
    @user_id INT,
    @status_filter INT = NULL  -- NULL表示所有状态
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        o.order_id,
        o.total_amount,
        o.create_time,
        o.pay_time,
        o.ship_time,
        o.order_status,
        CASE o.order_status
            WHEN 0 THEN '待支付'
            WHEN 1 THEN '已支付'
            WHEN 2 THEN '已发货'
            WHEN 3 THEN '已完成'
            ELSE '未知状态'
        END AS status_name,
        a.receiver_name,
        a.detail_address,
        a.receiver_phone,
        (SELECT COUNT(*) FROM [dbo].[OrderItem] WHERE order_id = o.order_id) AS item_count
    FROM [dbo].[Order] o
    LEFT JOIN [dbo].[Address] a ON o.address_id = a.address_id
    WHERE o.user_id = @user_id
      AND (@status_filter IS NULL OR o.order_status = @status_filter)
    ORDER BY o.create_time DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InventoryAlert]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_InventoryAlert]
    @low_threshold INT = 10,
    @zero_stock_only BIT = 0
AS
BEGIN
    SET NOCOUNT ON;
    
    IF @zero_stock_only = 1
    BEGIN
        -- 只显示零库存商品
        SELECT 
            p.product_id,
            p.product_name,
            c.category_name,
            p.stock_quantity,
            p.price,
            '缺货' AS alert_level
        FROM [dbo].[Product] p
        LEFT JOIN [dbo].[Category] c ON p.category_id = c.category_id
        WHERE p.product_status = 1 
          AND p.stock_quantity = 0
        ORDER BY p.product_name;
    END
    ELSE
    BEGIN
        -- 显示所有低于阈值的商品
        SELECT 
            p.product_id,
            p.product_name,
            c.category_name,
            p.stock_quantity,
            p.price,
            CASE 
                WHEN p.stock_quantity = 0 THEN '严重缺货'
                WHEN p.stock_quantity <= @low_threshold THEN '库存不足'
                ELSE '库存正常'
            END AS alert_level
        FROM [dbo].[Product] p
        LEFT JOIN [dbo].[Category] c ON p.category_id = c.category_id
        WHERE p.product_status = 1 
          AND p.stock_quantity <= @low_threshold
        ORDER BY p.stock_quantity, p.product_name;
    END
    
    -- 统计信息
    SELECT 
        COUNT(CASE WHEN stock_quantity = 0 THEN 1 END) AS zero_stock_count,
        COUNT(CASE WHEN stock_quantity > 0 AND stock_quantity <= @low_threshold THEN 1 END) AS low_stock_count,
        COUNT(CASE WHEN stock_quantity > @low_threshold THEN 1 END) AS normal_stock_count
    FROM [dbo].[Product]
    WHERE product_status = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PayOrder]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_PayOrder]
    @order_id INT,
    @payment_method VARCHAR(50),
    @transaction_id VARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRANSACTION;
    
    -- 检查订单状态
    DECLARE @current_status SMALLINT, @user_id INT, @total_amount DECIMAL(10,2);
    
    SELECT 
        @current_status = order_status,
        @user_id = user_id,
        @total_amount = total_amount
    FROM [dbo].[Order]
    WHERE order_id = @order_id;
    
    IF @current_status IS NULL
    BEGIN
        ROLLBACK TRANSACTION;
        RAISERROR('订单不存在！', 16, 1);
        RETURN;
    END
    
    IF @current_status <> 0
    BEGIN
        ROLLBACK TRANSACTION;
        RAISERROR('订单状态不正确，无法支付！', 16, 1);
        RETURN;
    END
    
    -- 更新订单状态为已支付
    UPDATE [dbo].[Order]
    SET order_status = 1,
        pay_time = GETDATE()
    WHERE order_id = @order_id;
    
    -- 创建支付记录
    DECLARE @payment_id INT;
    SELECT @payment_id = ISNULL(MAX(payment_id), 0) + 1 FROM [dbo].[Payment];
    
    INSERT INTO [dbo].[Payment]
        (payment_id, order_id, payment_method, payment_amount, 
         payment_status, payment_time, transaction_id)
    VALUES
        (@payment_id, @order_id, @payment_method, @total_amount,
         1, GETDATE(), @transaction_id);
    
    COMMIT TRANSACTION;
    
    PRINT '支付成功！';
    SELECT '支付成功' AS Result, @order_id AS OrderId, @total_amount AS Amount;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterUser]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RegisterUser]
    @username VARCHAR(50),
    @password VARCHAR(255),
    @phone VARCHAR(20),
    @email VARCHAR(100),
    @user_type SMALLINT = 0,
    @new_user_id INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- 生成新用户ID（实际项目应使用自增ID或序列）
        DECLARE @next_id INT;
        SELECT @next_id = ISNULL(MAX(user_id), 0) + 1 FROM [dbo].[User];
        
        -- 插入用户数据
        INSERT INTO [dbo].[User] 
            (user_id, username, password, phone, email, user_type, register_time)
        VALUES 
            (@next_id, @username, @password, @phone, @email, @user_type, GETDATE());
        
        SET @new_user_id = @next_id;
        
        -- 自动创建默认地址（可选）
        INSERT INTO [dbo].[Address] 
            (address_id, user_id, receiver_name, receiver_phone, detail_address, is_default)
        VALUES 
            (@next_id, @next_id, @username, @phone, '请完善地址信息', 1);
        
        COMMIT TRANSACTION;
        
        PRINT '用户注册成功！';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR('注册失败：%s', 16, 1, @ErrorMessage);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SalesReport]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SalesReport]
    @start_date DATE = NULL,
    @end_date DATE = NULL,
    @category_id INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SET @start_date = ISNULL(@start_date, DATEADD(MONTH, -1, GETDATE()));
    SET @end_date = ISNULL(@end_date, GETDATE());
    
    -- 总览统计
    SELECT 
        '总销售额' AS StatName,
        SUM(o.total_amount) AS Value
    FROM [dbo].[Order] o
    WHERE o.order_status IN (1,2,3)
      AND o.create_time BETWEEN @start_date AND @end_date
    
    UNION ALL
    
    SELECT 
        '总订单数',
        COUNT(*)
    FROM [dbo].[Order] o
    WHERE o.order_status IN (1,2,3)
      AND o.create_time BETWEEN @start_date AND @end_date
    
    UNION ALL
    
    SELECT 
        '平均订单金额',
        AVG(o.total_amount)
    FROM [dbo].[Order] o
    WHERE o.order_status IN (1,2,3)
      AND o.create_time BETWEEN @start_date AND @end_date;
    
    -- 按分类统计
    SELECT 
        c.category_name,
        COUNT(DISTINCT o.order_id) AS order_count,
        SUM(oi.order_quantity) AS total_quantity,
        SUM(oi.subtotal) AS total_sales
    FROM [dbo].[Order] o
    INNER JOIN [dbo].[OrderItem] oi ON o.order_id = oi.order_id
    INNER JOIN [dbo].[Product] p ON oi.product_id = p.product_id
    INNER JOIN [dbo].[Category] c ON p.category_id = c.category_id
    WHERE o.order_status IN (1,2,3)
      AND o.create_time BETWEEN @start_date AND @end_date
      AND (@category_id IS NULL OR p.category_id = @category_id)
    GROUP BY c.category_name
    ORDER BY total_sales DESC;
    
    -- 每日销售趋势
    SELECT 
        CONVERT(DATE, o.create_time) AS sale_date,
        COUNT(*) AS order_count,
        SUM(o.total_amount) AS daily_sales
    FROM [dbo].[Order] o
    WHERE o.order_status IN (1,2,3)
      AND o.create_time BETWEEN @start_date AND @end_date
    GROUP BY CONVERT(DATE, o.create_time)
    ORDER BY sale_date;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchProducts]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SearchProducts]
    @keyword VARCHAR(100) = NULL,
    @category_id INT = NULL,
    @min_price DECIMAL(10,2) = NULL,
    @max_price DECIMAL(10,2) = NULL,
    @page_size INT = 10,
    @page_number INT = 1
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @start_row INT = (@page_number - 1) * @page_size + 1;
    DECLARE @end_row INT = @page_number * @page_size;
    
    WITH ProductCTE AS (
        SELECT 
            p.product_id,
            p.product_name,
            p.description,
            p.price,
            p.stock_quantity,
            p.product_status,
            c.category_name,
            ROW_NUMBER() OVER (ORDER BY p.product_id) AS RowNum
        FROM [dbo].[Product] p
        LEFT JOIN [dbo].[Category] c ON p.category_id = c.category_id
        WHERE p.product_status = 1
          AND (@keyword IS NULL OR p.product_name LIKE '%' + @keyword + '%' 
               OR p.description LIKE '%' + @keyword + '%')
          AND (@category_id IS NULL OR p.category_id = @category_id)
          AND (@min_price IS NULL OR p.price >= @min_price)
          AND (@max_price IS NULL OR p.price <= @max_price)
    )
    SELECT 
        product_id,
        product_name,
        description,
        price,
        stock_quantity,
        product_status,
        category_name,
        RowNum
    FROM ProductCTE
    WHERE RowNum BETWEEN @start_row AND @end_row;
    
    -- 返回总记录数
    SELECT COUNT(*) AS TotalRecords
    FROM [dbo].[Product] p
    WHERE p.product_status = 1
      AND (@keyword IS NULL OR p.product_name LIKE '%' + @keyword + '%')
      AND (@category_id IS NULL OR p.category_id = @category_id)
      AND (@min_price IS NULL OR p.price >= @min_price)
      AND (@max_price IS NULL OR p.price <= @max_price);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateProductStock]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateProductStock]
    @product_id INT,
    @quantity_change INT,  -- 正数表示入库，负数表示出库
    @operation_reason VARCHAR(100) = '库存调整'
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRANSACTION;
    
    -- 检查商品是否存在
    IF NOT EXISTS(SELECT 1 FROM [dbo].[Product] WHERE product_id = @product_id)
    BEGIN
        ROLLBACK TRANSACTION;
        RAISERROR('商品不存在！', 16, 1);
        RETURN;
    END
    
    -- 检查库存是否足够（如果是出库）
    IF @quantity_change < 0
    BEGIN
        DECLARE @current_stock INT;
        SELECT @current_stock = stock_quantity FROM [dbo].[Product] WHERE product_id = @product_id;
        
        IF @current_stock < ABS(@quantity_change)
        BEGIN
            ROLLBACK TRANSACTION;
            RAISERROR('库存不足！当前库存：%d', 16, 1, @current_stock);
            RETURN;
        END
    END
    
    -- 更新库存
    UPDATE [dbo].[Product]
    SET stock_quantity = stock_quantity + @quantity_change
    WHERE product_id = @product_id;
    
    -- 记录库存变更日志（可以创建库存日志表）
    -- INSERT INTO InventoryLog (product_id, quantity_change, operation_time, reason)
    -- VALUES (@product_id, @quantity_change, GETDATE(), @operation_reason);
    
    COMMIT TRANSACTION;
    
    PRINT '库存更新成功！';
    SELECT product_name, stock_quantity FROM [dbo].[Product] WHERE product_id = @product_id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUserInfo]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_UpdateUserInfo]
    @user_id INT,
    @new_username VARCHAR(50) = NULL,
    @new_phone VARCHAR(20) = NULL,
    @new_email VARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    IF NOT EXISTS(SELECT 1 FROM [dbo].[User] WHERE user_id = @user_id)
    BEGIN
        RAISERROR('用户不存在！', 16, 1);
        RETURN;
    END
    
    UPDATE [dbo].[User]
    SET 
        username = ISNULL(@new_username, username),
        phone = ISNULL(@new_phone, phone),
        email = ISNULL(@new_email, email)
    WHERE user_id = @user_id;
    
    PRINT '用户信息更新成功！';
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UserLogin]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UserLogin]
    @login_name VARCHAR(100),  -- 可以是用户名或邮箱
    @password VARCHAR(255),
    @login_success BIT OUTPUT,
    @user_id INT OUTPUT,
    @user_type SMALLINT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        @user_id = user_id,
        @user_type = user_type
    FROM [dbo].[User]
    WHERE (username = @login_name OR email = @login_name)
      AND password = @password;
    
    IF @user_id IS NOT NULL
    BEGIN
        SET @login_success = 1;
        PRINT '登录成功！';
        
        -- 更新最后登录时间（如果有这个字段）
        -- UPDATE [dbo].[User] SET last_login = GETDATE() WHERE user_id = @user_id;
    END
    ELSE
    BEGIN
        SET @login_success = 0;
        SET @user_id = 0;
        SET @user_type = 0;
        PRINT '用户名/邮箱或密码错误！';
    END
END
GO
/****** Object:  Trigger [dbo].[trg_EnsureSingleDefaultAddress]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_EnsureSingleDefaultAddress]
ON [dbo].[Address]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    
    -- 如果插入或更新的地址被设为默认
    IF EXISTS (SELECT 1 FROM inserted WHERE is_default = 1)
    BEGIN
        -- 更新同一用户的其他地址为非默认
        UPDATE a
        SET is_default = 0
        FROM [dbo].[Address] a
        INNER JOIN inserted i ON a.user_id = i.user_id
        WHERE a.address_id <> i.address_id
          AND a.is_default = 1;
    END
END
GO
ALTER TABLE [dbo].[Address] ENABLE TRIGGER [trg_EnsureSingleDefaultAddress]
GO
/****** Object:  Trigger [dbo].[trg_CheckStockBeforeCartInsert]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_CheckStockBeforeCartInsert]
ON [dbo].[Cart]
INSTEAD OF INSERT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- 检查库存是否充足
    IF EXISTS (
        SELECT 1 FROM inserted i
        INNER JOIN [dbo].[Product] p ON i.product_id = p.product_id
        WHERE p.stock_quantity < i.cart_quantity
        AND p.product_status = 1
    )
    BEGIN
        RAISERROR('商品库存不足，无法添加到购物车。', 16, 1);
        RETURN;
    END
    
    -- 如果用户已添加过该商品，则更新数量而不是新增
    MERGE [dbo].[Cart] AS target
    USING inserted AS source
    ON target.user_id = source.user_id AND target.product_id = source.product_id
    WHEN MATCHED THEN
        UPDATE SET 
            cart_quantity = target.cart_quantity + source.cart_quantity,
            add_time = GETDATE()
    WHEN NOT MATCHED THEN
        INSERT (cart_id, user_id, product_id, cart_quantity, add_time)
        VALUES (source.cart_id, source.user_id, source.product_id, 
                source.cart_quantity, ISNULL(source.add_time, GETDATE()));
END
GO
ALTER TABLE [dbo].[Cart] ENABLE TRIGGER [trg_CheckStockBeforeCartInsert]
GO
/****** Object:  Trigger [dbo].[trg_LogOrderStatusChange]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_LogOrderStatusChange]
ON [dbo].[Order]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    
    IF UPDATE(order_status)
    BEGIN
        -- 这里可以记录订单状态变更历史
        PRINT '订单状态已更新';
        
        -- 示例：插入到订单日志表
        /*
        INSERT INTO OrderLog (order_id, old_status, new_status, change_time)
        SELECT 
            d.order_id, 
            d.order_status, 
            i.order_status, 
            GETDATE()
        FROM inserted i
        INNER JOIN deleted d ON i.order_id = d.order_id
        WHERE i.order_status <> d.order_status;
        */
        
        -- 如果是已支付状态，设置支付时间
        UPDATE [dbo].[Order]
        SET pay_time = GETDATE()
        FROM [dbo].[Order] o
        INNER JOIN inserted i ON o.order_id = i.order_id
        WHERE i.order_status = 1 
          AND o.pay_time IS NULL;
          
        -- 如果是已发货状态，设置发货时间
        UPDATE [dbo].[Order]
        SET ship_time = GETDATE()
        FROM [dbo].[Order] o
        INNER JOIN inserted i ON o.order_id = i.order_id
        WHERE i.order_status = 2 
          AND o.ship_time IS NULL;
    END
END
GO
ALTER TABLE [dbo].[Order] ENABLE TRIGGER [trg_LogOrderStatusChange]
GO
/****** Object:  Trigger [dbo].[trg_UpdateUserLevelOnOrderComplete]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_UpdateUserLevelOnOrderComplete]
ON [dbo].[Order]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    
    -- 当订单状态变为"已完成"时
    IF EXISTS (
        SELECT 1 FROM inserted i
        INNER JOIN deleted d ON i.order_id = d.order_id
        WHERE d.order_status <> 3 AND i.order_status = 3
    )
    BEGIN
        -- 更新用户的累计消费金额
        UPDATE u
        SET user_type = 
            CASE 
                WHEN (SELECT ISNULL(SUM(total_amount), 0) 
                      FROM [dbo].[Order] 
                      WHERE user_id = u.user_id 
                      AND order_status = 3) >= 10000 THEN 2  -- VIP
                WHEN (SELECT ISNULL(SUM(total_amount), 0) 
                      FROM [dbo].[Order] 
                      WHERE user_id = u.user_id 
                      AND order_status = 3) >= 5000 THEN 1   -- 白银
                ELSE 0                                        -- 普通
            END
        FROM [dbo].[User] u
        WHERE u.user_id IN (
            SELECT user_id FROM inserted WHERE order_status = 3
        );
    END
END
GO
ALTER TABLE [dbo].[Order] ENABLE TRIGGER [trg_UpdateUserLevelOnOrderComplete]
GO
/****** Object:  Trigger [dbo].[trg_AdjustStockOnOrderItemUpdate]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_AdjustStockOnOrderItemUpdate]
ON [dbo].[OrderItem]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    
    IF UPDATE(order_quantity)
    BEGIN
        -- 计算库存变化：新数量 - 旧数量
        UPDATE p
        SET p.stock_quantity = p.stock_quantity - 
            (i.order_quantity - d.order_quantity)
        FROM [dbo].[Product] p
        INNER JOIN inserted i ON p.product_id = i.product_id
        INNER JOIN deleted d ON p.product_id = d.product_id
        WHERE i.order_quantity <> d.order_quantity;
    END
END
GO
ALTER TABLE [dbo].[OrderItem] ENABLE TRIGGER [trg_AdjustStockOnOrderItemUpdate]
GO
/****** Object:  Trigger [dbo].[trg_AutoCalculateSubtotal]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_AutoCalculateSubtotal]
ON [dbo].[OrderItem]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    
    -- 如果插入新记录或更新了数量/单价，重新计算小计
    IF UPDATE(order_quantity) OR UPDATE(unit_price) OR (SELECT COUNT(*) FROM inserted) > 0
    BEGIN
        UPDATE oi
        SET subtotal = oi.order_quantity * oi.unit_price
        FROM [dbo].[OrderItem] oi
        INNER JOIN inserted i ON oi.item_id = i.item_id;
    END
END
GO
ALTER TABLE [dbo].[OrderItem] ENABLE TRIGGER [trg_AutoCalculateSubtotal]
GO
/****** Object:  Trigger [dbo].[trg_RestoreStockOnOrderItemDelete]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_RestoreStockOnOrderItemDelete]
ON [dbo].[OrderItem]
AFTER DELETE
AS
BEGIN
    SET NOCOUNT ON;
    
    -- 恢复商品库存
    UPDATE p
    SET p.stock_quantity = p.stock_quantity + d.order_quantity
    FROM [dbo].[Product] p
    INNER JOIN deleted d ON p.product_id = d.product_id;
END
GO
ALTER TABLE [dbo].[OrderItem] ENABLE TRIGGER [trg_RestoreStockOnOrderItemDelete]
GO
/****** Object:  Trigger [dbo].[trg_UpdateOrderTotalAmount]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_UpdateOrderTotalAmount]
ON [dbo].[OrderItem]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;
    
    -- 获取受影响的订单ID
    DECLARE @AffectedOrderIds TABLE (order_id INT);
    
    INSERT INTO @AffectedOrderIds
    SELECT order_id FROM inserted
    UNION
    SELECT order_id FROM deleted;
    
    -- 更新订单总金额
    UPDATE o
    SET total_amount = (
        SELECT ISNULL(SUM(subtotal), 0)
        FROM [dbo].[OrderItem] oi
        WHERE oi.order_id = o.order_id
    )
    FROM [dbo].[Order] o
    WHERE o.order_id IN (SELECT order_id FROM @AffectedOrderIds);
END
GO
ALTER TABLE [dbo].[OrderItem] ENABLE TRIGGER [trg_UpdateOrderTotalAmount]
GO
/****** Object:  Trigger [dbo].[trg_UpdateStockOnOrderItemInsert]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_UpdateStockOnOrderItemInsert]
ON [dbo].[OrderItem]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @LowStockThreshold INT = 10;  -- 低库存阈值
    
    -- 更新商品库存
    UPDATE p
    SET p.stock_quantity = p.stock_quantity - i.order_quantity
    FROM [dbo].[Product] p
    INNER JOIN inserted i ON p.product_id = i.product_id;
    
    -- 记录低库存警告
    IF EXISTS (
        SELECT 1 FROM [dbo].[Product] p
        INNER JOIN inserted i ON p.product_id = i.product_id
        WHERE p.stock_quantity <= @LowStockThreshold
    )
    BEGIN
        PRINT '警告：有商品库存低于阈值，请及时补货！';
        
        -- 这里可以插入到库存预警表
        -- INSERT INTO StockAlert (product_id, alert_time, current_stock) ...
    END
END
GO
ALTER TABLE [dbo].[OrderItem] ENABLE TRIGGER [trg_UpdateStockOnOrderItemInsert]
GO
/****** Object:  Trigger [dbo].[trg_PreventLargePriceChange]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_PreventLargePriceChange]
ON [dbo].[Product]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    
    IF UPDATE(price)
    BEGIN
        -- 检查价格变动是否超过50%
        IF EXISTS (
            SELECT 1 FROM inserted i
            INNER JOIN deleted d ON i.product_id = d.product_id
            WHERE ABS(i.price - d.price) / NULLIF(d.price, 0) > 0.5
        )
        BEGIN
            RAISERROR('价格变动超过50%，需要管理员审核。', 16, 1);
            ROLLBACK TRANSACTION;
        END
    END
END
GO
ALTER TABLE [dbo].[Product] ENABLE TRIGGER [trg_PreventLargePriceChange]
GO
/****** Object:  Trigger [dbo].[trg_RemoveFromCartWhenProductDisabled]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_RemoveFromCartWhenProductDisabled]
ON [dbo].[Product]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    
    IF UPDATE(product_status)
    BEGIN
        -- 当商品下架时，从所有用户的购物车中移除
        DELETE FROM [dbo].[Cart]
        WHERE product_id IN (
            SELECT i.product_id 
            FROM inserted i
            INNER JOIN deleted d ON i.product_id = d.product_id
            WHERE d.product_status = 1 AND i.product_status = 0
        );
        
        PRINT '已下架商品已从所有购物车中移除';
    END
END
GO
ALTER TABLE [dbo].[Product] ENABLE TRIGGER [trg_RemoveFromCartWhenProductDisabled]
GO
/****** Object:  Trigger [dbo].[trg_AutoApplyPromotion]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_AutoApplyPromotion]
ON [dbo].[Promotion]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @Now DATETIME = GETDATE();
    
    -- 活动开始时：可以在这里设置标记或执行其他操作
    IF EXISTS (
        SELECT 1 FROM inserted 
        WHERE promotion_status = 1 
        AND @Now BETWEEN start_time AND end_time
    )
    BEGIN
        PRINT '促销活动已生效';
        -- 这里可以执行促销开始时的逻辑，比如：
        -- 1. 更新商品表的促销价格字段
        -- 2. 发送通知
        -- 3. 生成促销报告
    END
    
    -- 活动结束时
    IF EXISTS (
        SELECT 1 FROM inserted 
        WHERE promotion_status = 0 
        OR @Now > end_time
    )
    BEGIN
        PRINT '促销活动已结束';
        -- 这里可以执行促销结束时的逻辑
    END
END
GO
ALTER TABLE [dbo].[Promotion] ENABLE TRIGGER [trg_AutoApplyPromotion]
GO
/****** Object:  Trigger [dbo].[trg_AuditUserChanges]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_AuditUserChanges]
ON [dbo].[User]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    
    -- 创建审计表（如果不存在）
    IF NOT EXISTS (SELECT * FROM sys.tables WHERE name = 'UserAuditLog')
    BEGIN
        CREATE TABLE UserAuditLog (
            audit_id INT IDENTITY(1,1) PRIMARY KEY,
            user_id INT NOT NULL,
            change_type VARCHAR(20),
            change_time DATETIME DEFAULT GETDATE(),
            old_username VARCHAR(50),
            new_username VARCHAR(50),
            old_email VARCHAR(100),
            new_email VARCHAR(100),
            changed_by VARCHAR(50) DEFAULT SYSTEM_USER
        );
    END
    
    -- 插入变更记录
    INSERT INTO UserAuditLog 
        (user_id, change_type, old_username, new_username, old_email, new_email)
    SELECT 
        i.user_id,
        'UPDATE',
        d.username,
        i.username,
        d.email,
        i.email
    FROM inserted i
    INNER JOIN deleted d ON i.user_id = d.user_id
    WHERE i.username <> d.username 
       OR i.email <> d.email
       OR i.phone <> d.phone;
END
GO
ALTER TABLE [dbo].[User] ENABLE TRIGGER [trg_AuditUserChanges]
GO
/****** Object:  Trigger [dbo].[trg_CascadeDeleteUser]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_CascadeDeleteUser]
ON [dbo].[User]
INSTEAD OF DELETE
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @DeletedUserIds TABLE (user_id INT);
    INSERT INTO @DeletedUserIds SELECT user_id FROM deleted;
    
    -- 记录要删除的用户信息（可选：备份到存档表）
    -- INSERT INTO DeletedUsersArchive SELECT * FROM deleted;
    
    -- 按照外键依赖顺序删除相关记录
    DELETE FROM [dbo].[Cart] WHERE user_id IN (SELECT user_id FROM @DeletedUserIds);
    DELETE FROM [dbo].[OrderItem] WHERE order_id IN (SELECT order_id FROM [dbo].[Order] WHERE user_id IN (SELECT user_id FROM @DeletedUserIds));
    DELETE FROM [dbo].[Payment] WHERE order_id IN (SELECT order_id FROM [dbo].[Order] WHERE user_id IN (SELECT user_id FROM @DeletedUserIds));
    DELETE FROM [dbo].[Order] WHERE user_id IN (SELECT user_id FROM @DeletedUserIds);
    DELETE FROM [dbo].[Address] WHERE user_id IN (SELECT user_id FROM @DeletedUserIds);
    
    -- 最后删除用户
    DELETE FROM [dbo].[User] WHERE user_id IN (SELECT user_id FROM @DeletedUserIds);
    
    PRINT '用户及相关数据已成功删除';
END
GO
ALTER TABLE [dbo].[User] ENABLE TRIGGER [trg_CascadeDeleteUser]
GO
/****** Object:  Trigger [dbo].[trg_CheckEmailUnique]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_CheckEmailUnique]
ON [dbo].[User]
INSTEAD OF INSERT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- 检查是否有重复邮箱
    IF EXISTS (
        SELECT 1 FROM inserted i
        WHERE EXISTS (
            SELECT 1 FROM [dbo].[User] u 
            WHERE u.email = i.email
        )
    )
    BEGIN
        RAISERROR('邮箱地址已存在，请使用其他邮箱。', 16, 1);
        RETURN;
    END
    
    -- 没有重复，执行插入
    INSERT INTO [dbo].[User] 
        (user_id, username, password, phone, email, register_time, user_type)
    SELECT 
        user_id, username, password, phone, email, 
        ISNULL(register_time, GETDATE()), 
        ISNULL(user_type, 0)
    FROM inserted;
END
GO
ALTER TABLE [dbo].[User] ENABLE TRIGGER [trg_CheckEmailUnique]
GO
/****** Object:  Trigger [dbo].[trg_PreventAfterHoursChanges]    Script Date: 2025/12/23 16:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_PreventAfterHoursChanges]
ON [dbo].[User]
FOR INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @CurrentHour INT = DATEPART(HOUR, GETDATE());
    DECLARE @CurrentDay VARCHAR(10) = DATENAME(WEEKDAY, GETDATE());
    
    -- 如果是周末或非工作时间（晚上10点到早上6点）
    IF @CurrentDay IN ('Saturday', 'Sunday') 
       OR (@CurrentHour >= 22 OR @CurrentHour < 6)
    BEGIN
        RAISERROR('非工作时间不允许修改用户数据，请在周一至周五的6:00-22:00进行操作。', 16, 1);
        ROLLBACK TRANSACTION;
    END
END
GO
ALTER TABLE [dbo].[User] ENABLE TRIGGER [trg_PreventAfterHoursChanges]
GO
USE [master]
GO

-- =========== 备份与审计相关对象 BEGIN ===========

-- 订单归档表：存放已完成的历史订单快照
IF OBJECT_ID('dbo.OrderArchive', 'U') IS NULL
BEGIN
    CREATE TABLE dbo.OrderArchive (
        archive_id INT IDENTITY(1,1) PRIMARY KEY,
        order_id INT NOT NULL,
        user_id INT NOT NULL,
        address_id INT NULL,
        total_amount DECIMAL(10,2) NOT NULL,
        order_status SMALLINT NOT NULL,
        create_time DATETIME NOT NULL,
        archive_time DATETIME NOT NULL DEFAULT GETDATE()
    );
END
GO

-- 归档存储过程：归档已完成且超过 @days_to_keep 天的订单（保留源表，不删除）
IF OBJECT_ID('dbo.sp_ArchiveCompletedOrders', 'P') IS NOT NULL
    DROP PROCEDURE dbo.sp_ArchiveCompletedOrders;
GO
CREATE PROCEDURE dbo.sp_ArchiveCompletedOrders
    @days_to_keep INT = 30
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @cutoff DATETIME = DATEADD(DAY, -@days_to_keep, GETDATE());

    INSERT INTO dbo.OrderArchive (order_id, user_id, address_id, total_amount, order_status, create_time)
    SELECT o.order_id, o.user_id, o.address_id, o.total_amount, o.order_status, o.create_time
    FROM dbo.[Order] o
    WHERE o.order_status = 3   -- 已完成
      AND o.create_time < @cutoff
      AND NOT EXISTS (SELECT 1 FROM dbo.OrderArchive a WHERE a.order_id = o.order_id);
END
GO

-- 审计日志表
IF OBJECT_ID('dbo.AuditLog', 'U') IS NULL
BEGIN
    CREATE TABLE dbo.AuditLog (
        audit_id INT IDENTITY(1,1) PRIMARY KEY,
        table_name VARCHAR(50) NOT NULL,
        operation VARCHAR(10) NOT NULL,
        primary_key_value VARCHAR(50) NOT NULL,
        change_time DATETIME NOT NULL DEFAULT GETDATE(),
        note VARCHAR(200) NULL
    );
END
GO

-- Product 更新审计触发器
IF OBJECT_ID('dbo.trg_Product_UpdateAudit', 'TR') IS NOT NULL
    DROP TRIGGER dbo.trg_Product_UpdateAudit;
GO
CREATE TRIGGER dbo.trg_Product_UpdateAudit
ON dbo.Product
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO dbo.AuditLog (table_name, operation, primary_key_value, note)
    SELECT
        'Product',
        'UPDATE',
        CAST(i.product_id AS VARCHAR(50)),
        CONCAT('price=', i.price, '; stock=', i.stock_quantity, '; status=', i.product_status)
    FROM inserted i;
END
GO
-- =========== 备份与审计相关对象 END ===========
